/** 全局 CSS 变量，这种变量不仅可以在 CSS 和 SCSS 中使用，还可以导入到 JS 中使用 */

:root {
  /** Body */
  --ck-body-text-color: var(--el-text-color-primary);
  --ck-body-bg-color: var(--el-bg-color-page);
  /** Header 区域 = NavigationBar 组件 + TagsView 组件 */
  --ck-header-height: calc(var(--ck-navigationbar-height) + var(--ck-tagsview-height) + var(--ck-header-border-bottom-width));
  --ck-header-bg-color: var(--el-bg-color);
  --ck-header-box-shadow: var(--el-box-shadow-lighter);
  --ck-header-border-bottom-width: 1px;
  --ck-header-border-bottom: var(--ck-header-border-bottom-width) solid var(--el-fill-color);
  /** NavigationBar 组件 */
  --ck-navigationbar-height: 50px;
  --ck-navigationbar-text-color: var(--el-text-color-regular);
  /** Sidebar 组件（左侧模式全部生效、顶部模式全部不生效、混合模式非颜色部分生效） */
  --ck-sidebar-width: 220px;
  --ck-sidebar-hide-width: 58px;
  --ck-sidebar-border-right: 1px solid var(--el-fill-color);
  --ck-sidebar-menu-item-height: 60px;
  --ck-sidebar-submenu-item-height: 42px;
  --ck-sidebar-menu-tip-line-bg-color: var(--el-color-primary);
  --ck-sidebar-menu-bg-color: #001428;
  --ck-sidebar-menu-hover-bg-color: #409eff10;
  --ck-sidebar-menu-text-color: #cfd3dc;
  --ck-sidebar-menu-active-text-color: #ffffff;
  /** TagsView 组件 */
  --ck-tagsview-height: 34px;
  --ck-tagsview-text-color: var(--el-text-color-regular);
  --ck-tagsview-tag-active-text-color: #ffffff;
  --ck-tagsview-tag-bg-color: var(--el-bg-color);
  --ck-tagsview-tag-active-bg-color: var(--el-color-primary);
  --ck-tagsview-tag-border-radius: 2px;
  --ck-tagsview-tag-border-color: var(--el-border-color-lighter);
  --ck-tagsview-tag-active-border-color: var(--el-color-primary);
  --ck-tagsview-tag-icon-hover-bg-color: #00000030;
  --ck-tagsview-tag-icon-hover-color: #ffffff;
  --ck-tagsview-contextmenu-text-color: var(--el-text-color-regular);
  --ck-tagsview-contextmenu-hover-text-color: var(--el-text-color-primary);
  --ck-tagsview-contextmenu-bg-color: var(--el-bg-color-overlay);
  --ck-tagsview-contextmenu-hover-bg-color: var(--el-fill-color);
  --ck-tagsview-contextmenu-box-shadow: var(--el-box-shadow);
  /** Hamburger 组件 */
  --ck-hamburger-text-color: var(--el-text-color-primary);
  /** RightPanel 组件  */
  --ck-rightpanel-button-bg-color: var(--el-color-primary);
}

/** 内容区放大时，将不需要的组件隐藏 */
body.content-large {
  /** Header 区域 = TagsView 组件 */
  --ck-header-height: var(--ck-tagsview-height);
  /** NavigationBar 组件 */
  --ck-navigationbar-height: 0px;
  /** Sidebar 组件 */
  --ck-sidebar-width: 0px;
  --ck-sidebar-hide-width: 0px;
}

/** 内容区全屏时，将不需要的组件隐藏 */
body.content-full {
  /** Header 区域 */
  --ck-header-height: 0px;
  /** NavigationBar 组件 */
  --ck-navigationbar-height: 0px;
  /** Sidebar 组件 */
  --ck-sidebar-width: 0px;
  --ck-sidebar-hide-width: 0px;
  /** TagsView 组件 */
  --ck-tagsview-height: 0px;
}